
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  background-color: #ffe3e3; 
  font-family: 'Open Sans', sans-serif;
}
table{
  border-collapse: collapse;
  text-align: center;
  background-color: white;
  box-shadow: 0px 10px 30px 5px grey;
  margin-left: auto;
  margin-right: auto;

}
th{background-color: #e70010;
  color:white;
   padding:20px; 

}
 td{
   padding: 20px; 

}
tr{
  border-bottom: 1px solid #ececec;

}
 tr:last-child td{border-bottom: 5px solid #e70010;}
#lunch{border-bottom: 5px solid #e70010;}
tr:nth-child(odd){
  background-color: #f3f3f3;
}
caption{padding:20px}

#kalvium{
  margin-left: 100px;
}
h5{
  color:#e70010;
}
#students{
  padding: 10px;
}
.header{
  display: flex;
  justify-content: space-between;
}
.studentsContacts{
  display: flex;
  justify-content: center;
  margin-right:100px ;
}